@model BanHangThoiTrangMVC.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                @*There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.*@
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { area = "views" }))
        {
            @Html.AntiForgeryToken()
            <div class="social-login">
                <div class="social-auth-links text-center">
                    <p>
                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" @*class="btn btn-default"*@ class="google" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" @*title="Log in using your @p.Caption account"*@>
                                @*@p.AuthenticationType*@
                                <span class="fa fa-google" aria-hidden="true"></span>
                            </button>
                        }
                    </p>
                </div>
            </div>
            @*<div class="#facebook">
                    <a href="Account/LoginFaceBook">
                        <div class="facebook">
                            <span class="fa fa-facebook-f" aria-hidden="true"></span>
                        </div>
                    </a>
                    <a href="#twitter">
                        <div class="twitter">
                            <span class="fa fa-twitter" aria-hidden="true"></span>
                        </div>
                    </a>
                    <a href="#google">
                        <div class="google">
                            <span class="fa fa-google" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>*@
        }
    }
}
